.test-container {
    position: absolute;

    top: 100px;
    left: 100px;
    width: 300px;
    height: 156px;
}

.search-split {
    position: absolute;

    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 300px;

    overflow: auto;
    border-right: 1px #eee solid;
}

.search-split input {
    position: absolute;
    width: 100%;
    height: 36px;
    top: 200px;
    left: 0px;
    font-size: 16px;
    line-height: 36px;
    outline: none;
    border: none;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
}

.search-split .container {
    position: absolute;

    top: 236px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    border-bottom: 1px #eee solid;
    overflow: auto;
}

.search-split .container .cell {
    position: relative;
    width: 100%;
    height: 96px;
    border-bottom: 1px #eee solid;
}

.search-split .container .cell .title {
    position: absolute;
    top: 40px;
    left: 16px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.search-split .container .cell .svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.search-split .datamodel {
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    overflow: auto;
}

.wire-split {
    position: absolute;

    top: 0px;
    left: 000px;
    bottom: 0px;
    right: 400px;

    overflow: auto;
}

.fill {
    position: absolute;

    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    right: 400px;

    overflow: hidden;
}

.overlay {
    position: absolute;

    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    right: 400px;

    overflow: hidden;
}

.component-split {
    position: absolute;

    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 400px;

    border-left: 1px #eee solid;
}

.component-container {
    position: absolute;
    border-radius: 7px;
    overflow: hidden;

    border: 1px #eee solid;

    top: 50%;
    left: 50%;
    width: 300px;
    height: 500px;
    margin-top: -250px;
    margin-left: -150px;
}

.list {
    position: absolute;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    overflow-y: auto;
    overflow-x: hidden;
}

.list .cell {
    position: relative;
    height: 156px;
}

.tweet {
    position: absolute;

    top: 0px;
    left: 0px;
    width: 100%;
    bottom: 0px;

    background-color: #fbfbfb;
    font-family: Helvetica, sans-serif;

    border-bottom: 1px solid #eee;
}

.tweet .user {
    position: absolute;
    top: 16px;
    left: 24px;

    font-size: 14px;
    font-weight: 700;
    color: #0d90b9;
}

.tweet .text {
    position: absolute;
    top: 40px;
    left: 24px;
    right: 24px;
    bottom: 40px;

    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #555;

    overflow: hidden;
    text-overflow: ellipsis;
}

.tweet .icon1, .tweet .icon2, .tweet .icon3 {
    position: absolute;
    bottom: 10px;
    left: 24px;
    width: 24px;
    height: 24px;

    border-radius: 20px;
    border: 1px solid #ddd;

    /* background-color: #333; */
}

.tweet .icon2 {
    left: 64px;
}

.tweet .icon3 {
    left: 104px;
}
